.table {
    width: auto;
    min-width: 600px;
    margin: 50px auto;
    text-align: left;
    line-height: 2em;
}
.table th {
    background-color: #f7f7f7;
    padding: 2px 10px;
}
.table td {
    padding: 2px 10px;
}