.table {
    margin: 50px 0;
    text-align: left;
    line-height: 2em;
}
.table th {
    background-color: #f7f7f7;
    padding: 2px 10px;
}
.table td {
    padding: 2px 10px;
}

.basket_summary {
    margin: 50px 10px;
    text-align: left;
    line-height: 2em;
}
.btn {
    background: none;
    border: none;
}
.btn a {
    color: #3f9dff
}